h1{
font-size: 80px;
font-family: arial;
text-align: 10px left;
color:#ffffff;
}
h2{
font-size:25px;
font-family: arial;
text-align:left;
color:#ffffff;  
}
body{
font-size: 16px;
font-family: times;
color: #e06666;
background-image:url(images/AU-FG-Texture1-8K.jpg)
}
